<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Event</title>
</head>
<body>
    <h2>Create New Event Here</h2>
    <hr>
    <form action="/host/<%= host.id %>/dashboard/list-new-events" method="post">
        <label for="title">Title</label>
        <input type="text" name="title" placeholder="Enter your event's title" required>
        <br>
        <label for="description">Description (Optional)</label>
        <input type="text" name="description" placeholder="Describe your event">
        <br>
        <label for="artist">Artist Information (Optional)</label>
        <input type="text" name="artist" placeholder="Provide artist information">
        <br>
        <label for="poster">Poster (Optional)</label>
        <input type="text" name="poster" placeholder="Upload poster for your event">
        <br>
        <label for="venue">Venue</label>
        <input type="text" name="venue" placeholder="Provide Venue details" required>
        <br>
        <label for="date">Date of Event</label>
        <input type="date" name="date" placeholder="Enter date of your event" required>
        <br>
        <label for="startTime">Start Time</label>
        <input type="time" name="startTime" placeholder="Enter starting time of your event" required>
        <br>
        <label for="endTime">End Time (Optional)</label>
        <input type="time" name="endTime" placeholder="Enter ending time of your event">
        <br>
        <label for="totalTickets">Total Tickets</label>
        <input type="number" name="totalTickets" placeholder="Enter number of total tickets" required>
        <br>
        <label for="price">Price of Ticket (INR)</label>
        <input type="number" name="price" placeholder="Enter price of a single ticket" required>
        <br>
        <hr>
        <button type="submit">Create New Event</button>
    </form>
</body>
</html>
