<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book an event</title>
</head>
<body>
    <h2>Book an event</h2>
    <hr>
    <br>
    <p>Sign in to book your event</p>
    <a href="/user/user-sign-in">Sign In</a>
    <hr>
    <br>
    <p>New here? Sign up now</p>
    <a href="/user/user-sign-up">Sign Up</a>
</body>
</html>