<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify Email</title>
</head>
<body>
    <h2>Verify Email</h2>
    <hr>
    <h4>Enter OTP</h4>
    <form action="/user/verify-email" method="post">
        <label for="otp">Enter OTP:</label>
        <input type="number" name="otp" placeholder="Enter OTP">
        <button type="submit" name="action" value="verifyOtp">Verify OTP</button>
    </form>
</body>
</html>