<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login as Host</title>
</head>
<body>
    <h1>Login as a Host</h1>
    <hr>
    <br>
    <form action="/host/hostlogin" method="post">
       <div>
        <label for="email">Email</label>
        <input type="email" name="email" placeholder="Enter email" required>
       </div>
       <div>
        <label for="password">Password</label>
        <input type="password" name="password" placeholder="Enter password" required>
       </div>
       <button type="submit">Login</button>
    </form>
</body>
</html>
